.tutor-screen {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
      "container1 container1 container1 container1 container2 container2 container2 container2 container2"
      "container1 container1 container1 container1 container2 container2 container2 container2 container2"
      "container1 container1 container1 container1 container2 container2 container2 container2 container2"
      "container3 container3 container3 container3 container3 container4 container4 container4 container4"
      "container3 container3 container3 container3 container3 container4 container4 container4 container4"
      "container3 container3 container3 container3 container3 container4 container4 container4 container4";
  gap: 20px;
  padding: 20px;
  background-color: #1b1b1b;
  color: #ffffff;
  width: 90vw;
    height: 90vh;
    transform: scale(0.9); /* Adjust this number to fit the container within the screen */
    transform-origin: top left; /* Ensures scaling starts from the top left */
  }
  
  .container {
    border: 2px solid #333;
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .container1 {
    grid-area: container1;
  }
  
  .container2 {
    grid-area: container2;
  }
  
  .container3 {
    grid-area: container3;
    text-align: center;
  }
  
  .container4 {
    grid-area: container4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tutor-info {
    text-align: center;
  }
  
  .tutor-info img {
    width: 50%;
    height: auto;

  }
  
  .conversation-log {
    max-height: 150px;
    overflow-y: auto;
  
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    color: #ffffff;
    font-weight: bolder;
  }
  
  .coding-class-label {
    font-size: 24px;
    font-weight: bold;
  }
  
  .action-button {
    padding: 10px;
    background-color: #222222;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%; /* Make each button fill the entire row */
    height: 100px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  